* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #656262; 
    min-height: 100vh;
}

header {
    background-color: #3a3a3a;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: bottom 4px solid #3a3a3a;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    size: 20px;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: left;
}

.image-small {
    width: 70px;
    height: auto;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ccc;
}

.auro-intro{
    background-color: #1f1a1acc;
    padding: 40px 20px;
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auro-intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auro-intro-logo{
    font-size: 120px;
    color: white;
    margin: 0;
    font-weight: bold;

}

.auro-intro-title {
    font-size: 20px;
    color: white;
    margin: 0;
    font-weight: bold;
}

.auro-intro-text {
    font-size: 13px;
    color: white;
    margin: 0;
    letter-spacing: 1px;
}

.image-rectangle-section{
    background-color: #5a5a5a;
    padding: 60px 20px;
}

.rectangle-container{
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.rectangle-image{
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .auro-intro-logo {
        font-size: 80px;
    }

    .auro-intro-title {
        font-size: 16px;
    }

    .auro-intro-text {
        font-size: 12px;
    }
    .rectangle-image {
        width: 150px;
        height: 120px;
    }
}

