<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Assets/Auro_Logo.png')}}">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='Assets/Auro_Logo.png')}}" class="image-small">
            </div>

            <button class="menu-toggle">☰</button>

            <nav class="nav-links">
                <a href="{{ url_for('index')}}">Home</a>
                <a href="{{ url_for('catalog')}}">Catalog</a>
                <a href="{{ url_for('about_us')}}">About Us</a>
            </nav>
        </div>
    </header>

    <main>
        <p>This is buy page</p>
        <h1>{{ product.name }}</h1>
    </main>
    <script src="{{url_for('static', filename='Js/scripts.js')}}"></script>
</body>
</html>