<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="../Static/CSS/Styles.css">
    <link rel="icon" sizes="32x32" href="../Static/Assets/Auro_Logo.png">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../Static/Assets/Auro_Logo.png" class="image-small">
            </div>
            <nav>
                <a href="../Templates/index.html">Home</a>
                <a href="../Templates/Catalog.html">Catalog</a>
                <a href="../Templates/About_Us.html">About Us</a>
            </nav>
        </div>
    </header>

    <main>
        <p>This is catalog</p>
    </main>
</body>
</html>