<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Assets/Auro_Logo.png')}}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='Assets/Auro_Logo.png')}}" class="image-small">
            </div>
            <nav>
                <a href="{{ url_for('index')}}">Home</a>
                <a href="{{ url_for('catalog')}}">Catalog</a>
                <a href="{{ url_for('about_us')}}">About Us</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="featured-section">
            <div class="featured-contianer">
                <div class="tshirt-card">
                    <div class="tshirt-background">
                        <img src="" alt="Orange T-Shirt" class="tshirt-image">

                    </div>
                </div>
                 <div class="tshirt-card">
                    <div class="tshirt-background">
                        <img src="" alt="Black T-Shirt" class="tshirt-image">
                    </div>
                </div>

            </div>
        </section>

        <section class="gallery-section">
            <div class="gallery-container">
                <div class="gallery-item"> 
                    <h3>THE RED</h3>
                    <img src="" alt="Red T-Shirt" class="gallery-image">
                </div>
                <div class="gallery-item">
                    <h3>THE BLACK</h3>
                    <img src="" alt="Black T-Shirt" class="gallery-image">
                </div>
                <div class="gallery-section">
                    <h3>THE WHITE</h3>
                    <img src="" alt="White T-SShirt" class="gallery-image">
                    

                </div>

            </div>

        </section>
    </main>
</body>
</html>