<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro</title>
    <link rel="stylesheet" href="../Static/CSS/Styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../Static/Assets/Auro_Logo.png">
</head>
<body>
    <header>
        <div class="header-container">
        <div class="logo">
            <img src="../Static/Assets/Auro_Logo.png" class="image-small">
        </div>
        <nav>
            <a href="../Templates/index.html">Home</a>
            <a href="../Templates/Catalog.html">Catalog</a>
            <a href="../Templates/About_Us.html">About Us</a>
        </nav>
        </div>
    </header>
    <section class = "auro-intro">
        <div class="auro-intro-content">
            <img src="C:\Users\nicho\Documents\GitHub\Some_Simple_Project\Static\Assets\Auro_Logo.png" alt="auro-intro-logo" class="auro-intro-logo-img">
            <h2 class="auro-intro-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis aliquam accusamus, enim dolorum perferendis eaque libero nemo sapiente placeat eius nam, minima dignissimos atque? In totam id harum velit architecto.</h2>
            <p class="auro-intro-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, perferendis? Enim id, eaque quam perspiciatis incidunt sint, neque ipsum facilis ea eius eligendi officia nihil quas, sapiente non laborum quod?</p>
        </div>

    </section>
    
    
    <main>
        <section class="image-gallery">
        <div class="rectangle-container">
            <img src="C:\Users\nicho\Documents\GitHub\Some_Simple_Project\Static\Assets\Auro_model2.png" alt="Image 1" class="rectangle-image">
            <img src="C:\Users\nicho\Documents\GitHub\Some_Simple_Project\Static\Assets\Auro_model3.png" alt="Image 2" class="rectangle-image">
            <img src="C:\Users\nicho\Documents\GitHub\Some_Simple_Project\Static\Assets\Auro_model1.png" alt="Image 3" class="rectangle-image">
        </div>
    </section>
    </main>
</body>
</html>