<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/productPage.css') }}">
    <script src="{{ url_for('static', filename='Js/scripts.js')}}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Assets/Auro_Logo.png')}}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='Assets/Auro_Logo.png')}}" class="image-small">
            </div>
    
            <button class="menu-toggle">☰</button>
    
            <nav class="nav-links">
                <a href="{{ url_for('index')}}">Home</a>
                <a href="{{ url_for('catalog')}}">Catalog</a>
                <a href="{{ url_for('about_us')}}">About Us</a>
            </nav>
        </div>
    </header>

    <!-- <main class="product-page">
        <div class="product-card">
            <div class="product-image">
                <img src="{{ url_for('static', filename=product.image)}}">
            </div>
        </div>
        <div class="page-info">
            <h1>{{ product.name }}</h1>
            <p>{{ product.price }}</p>
            <button class="buy-button">Buy</button>
        </div>
        <div>
            <h1>Description</h1>
        </div>
    </main> -->
    
    <main>
        <div class="product-page">
            <div class="product-top">
                <div class="product-image">
                    <img src="{{ url_for('static', filename=product.image)}}">
                </div>

                <div class="product-info">
                    <h1>{{ product.name }}</h1>
                    <p>Rp. {{ product.price }}</p>
                
                    <label>Size</label>
                    <select>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <div class="product-description">
                <h2>Description</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </main>
</body>
</html>