<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/productPage.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Assets/Auro_Logo.png')}}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='Assets/Auro_Logo.png')}}" class="image-small">
            </div>
    
            <button class="menu-toggle">☰</button>
    
            <nav class="nav-links">
                <a href="{{ url_for('index')}}">Home</a>
                <a href="{{ url_for('catalog')}}">Catalog</a>
                <a href="{{ url_for('about_us')}}">About Us</a>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="product-page">
            <div class="product-top">
                <div class="product-image">
                    <img src="{{ url_for('static', filename=product.image)}}">
                </div>

                <div class="product-info">
                    <h1>{{ product.name }}</h1>
                    <p>Rp. {{ product.price }}</p>
                
                    <label>Size</label>
                    <div class="sizes">
                        <button>XS</button>
                        <button>S</button>
                        <button>M</button>
                        <button>L</button>
                    </div>
                    
                
                    <div class="buy-section">
                        <div class="counter">
                            <button id="minus">-</button>
                            <span id="count">0</span>
                            <button id="plus">+</button>
                        </div>

                        <button class="buy-btn">Buy</button>
                    </div>
                </div>
            </div>

            <div class="product-description">
                <h2>Description</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='Js/scripts.js')}}"></script>
</body>
</html>